// Import des variables
@import '../../variables.css';

.bodycontact{
    padding-top: 60px;
    width: 100vw;
    height: auto; 
    background-color: var(--background-color-3);
    font-family: var(--primary-font);
    padding-bottom: 50px;
   
    &__wrapper {
        background-color: var(--background-color-contact);
        padding-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;

        &__sideSpacing {
            margin-left: -50px;
            margin-right: -50px;
            padding: 0rem 5rem 3rem 5rem;
            align-items: start;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            &__containers {
                display: flex;
                justify-content: space-between;
            
               
                &__containerContact {
                    width: 45vw;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    &__h1 {
                        color: var(--primary-color);
                        font-weight: 800;
                        font-size: 2rem;
                        text-align: center;
                        margin-bottom: 3rem;
                    }

                    &__info {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        
                        &__picture {
                            float: right ;
                            width: 250px;
                            height: 250px;
                            border-radius: 20px;
                            box-shadow: var(--box-shadow);      
                            object-fit: cover;
                            margin-left: 20px;
                            margin-bottom: 50px;
                        }

                        &__content {
                            display: flex;
                            flex-direction: column;
                            align-items: start;

                            &__name {
                                color: var(--text-color);
                                font-weight: 600;
                                font-size: 1.5rem;
                                text-align: center;
                                margin-left: 20px;
                                margin-bottom: 20px;
                            }
        
                            &__job {
                                color: var(--text-color-2);
                                font-weight: 600;
                                text-align: start;
                                margin-left: 20px;
                                margin-bottom: 55px;
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;
                            }
                            &__job1 {
                                font-size: 1.5rem;
                                
                            }
                            &__job2 {
                                font-size: 1.3rem;
                                font-weight: 500;
                                
                            }
                        }
                    }


                    &__contactItemInfo {
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;
                        margin-bottom: 55px;
                        gap: 30px;

                    }

                    &__h3 {
                        color: var(--text-color-2);
                        font-weight: 500;
                        font-size: 1.2rem;
                        text-align: center;
                        margin-left: 20px;
                        margin-bottom: 30px;
                    }

                    &__networksLink {
                        width: 200px;
                        display: flex;
                        gap: 50px;
                        margin-left: 40px;

                    }

                } 

                &__containerSendMessage {
                    width: 40vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    
                    &__h2 {
                        color: var(--primary-color);
                        font-weight: 800;
                        font-size: 1.6rem;
                        text-align: center;
                        margin-bottom: 2rem;
                       
                    }
                }
            }
            
        } 
    } 
}    


//Tablette
@media only screen and (max-width: 1023px) {


.bodycontact{
    padding-top: 60px;
   
    &__wrapper {
        margin-left: 40px;
        margin-right: 40px;
    
        &__sideSpacing {
            padding: 0rem 4rem 3rem 4rem;
            margin-left: -40px;
            margin-right: -40px;
            
            &__containers {
                width: 100%;
                flex-direction: column;
                gap: 50px;
              
                &__containerContact {
                    width: 100%;

                    &__h1 {
                        margin-bottom: 2rem;
                        font-size: 1.6rem;
                    }

                    &__info {
                        display: flex;
                        flex-direction: row;
                        gap: 40px;
                        align-items: center;
                        justify-content: center;
                       

                        &__picture {
                            margin-left: 0px;
                            margin-bottom: 50px;
                            border-radius: 500px;
                        }

                        &__content {
                           
    
                            &__name {
                                margin-left: 0px;
        
                            }
        
                            &__job {
                                margin-left: 0px;
                            }
                        }
                    }

                    &__contactItemInfo {
                        margin-left: 0px;
                    }

                    &__h3 {
                        margin-left: 0px;
                    }

                    &__networksLink {
                        margin-left: 0px;

                    }
                } 

                &__containerSendMessage {
                    width: 80vw;

                }
            } 
        } 
    } 
}    
     
}

//Mobile
@media only screen and (max-width: 767px) {

.bodycontact{
    padding-top: 0px;
    width: 100vw;
    padding-bottom: 30px;

    &__wrapper {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
        background-color: var(--background-color-3);

        &__sideSpacing {
            margin-left: 0px;
            margin-right: 0px;
            padding: 0rem 0rem 0rem 0rem;

            &__containers {
                width: 100%;
                padding-top: 0px;
       
                &__containerContact {
                    width: 100%;
                    background-color: var(--background-color-contact);
                    padding-top: 30px;
                    padding-bottom: 30px;

                    &__h1 {
                        margin-bottom: 2rem;
                        padding-left: 3rem;
                        font-size: 1.4rem;
                    }

                    &__info {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        &__picture {
                            width: 200px;
                            height: 200px;
                            border-radius: 300px;
                            margin-bottom: 20px;
                            align-self: center;
                        }
    
                        &__content {
    
                            &__name {
                                align-self: center;
                                margin-left: 0px;
                            }
        
                            &__job {
                                align-self: center;
                                margin-left: 0px;
                            }
                            &__job1 {
                                align-self: center;
                            
                            }
                            &__job2 {
                                align-self: center;

                            }
                        }
                    }

                    &__contactItemInfo {
                        margin-left: 25px;
                        gap: 25px;
                    }

                    &__h3 {
                        align-self: center;
                        margin-left: 0px;
                        margin-bottom: 30px;
                    }

                    &__networksLink {
                        width: 100%;
                        justify-content: center;
                        align-self: center;
                        margin-left: 0px;
                    }

                } 

                &__containerSendMessage {
                    width: 100%;
                    display: flex;
                    flex-direction: column;


                    &__h2 {
                        color: var(--primary-color);
                        font-weight: 800;
                        font-size: 1.2rem;
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                }
            }
            
        } 
    } 
}    


    
}
  
  
  
  