// Import variables
@import '../../variables.css';

.networkLink {
    display: inline-flex; 
    text-decoration: none; 

   
  
    .networkLink-circle {
      display: flex;
      justify-content: center;
      align-items: center; 
      border-radius: 50%; 
      border: 2px solid;
      
    }
  }
  